{% extends 'layout.html' %} {% block body %}
<div class="container text-light">
	<h5 class="mt-3">This is open-source and can be used by anyone.For any suggestions,please contribute to this repository.</h5>
	<h2>Features :</h2>
	<ol>
		<li>Unique Username,Email and Mobile Address</li>
		<li>Email Validator</li>
		<li>Email Verification</li>
		<li>Account Activated email is sent if the account email is verified</li>
		<li>Forgot Password Functionality</li>
		<li>Encrypted Password</li>
		<li>Mobile Verification by sending OTP via message using the Twilio API</li>
	</ol>
	<h4>Made By <a href="https://www.linkedin.com/in/yash-jhaveri-3b0882192/">Yash Jhaveri</a></h4>
</div>
{% endblock %}